@charset "UTF-8";

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
    color: var(--light);
    background-color: var(--primary);
}

.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
    color: var(--light);
    background-color: var(--dark);
}

.woocommerce #respond input#submit.loading,
.woocommerce a.button.loading,
.woocommerce button.button.loading,
.woocommerce input.button.loading {
    opacity: 1;
}


.woocommerce-input-wrapper {
    width: 100%
}

figure.woocommerce-product-gallery__wrapper {
    max-width: inherit !important
}

.woocommerce a.added_to_cart {
    vertical-align: middle;
}

.woocommerce span.onsale {
    padding: 0px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
    border-top: 3px solid #333333;
    border-radius: 0;
    border-left: 0px;
    border-right: 0px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    border-top: 3px solid #dddddd;
    border-radius: 0;
    border-left: 0px;
    border-bottom-color: #fff;
    background-color: #ffffff;
    border-right: 0px;
    z-index: 1;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
    border: none;
    position: relative;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
    border: none;
}

.woocommerce-MyAccount-navigation .list-group-item.is-active,
.woocommerce-MyAccount-navigation .list-group-item:hover {
    background-color: #333333;
}

.woocommerce-MyAccount-navigation .list-group-item.is-active a,
.woocommerce-MyAccount-navigation .list-group-item:hover a {
    color: #ffffff;
}

.dropdown-cart {
    position: absolute;
    width: 300px;
    right: 0px;
    top: 100%;
    display: none;
    max-width: 90vw;
    z-index: 99;
}

.site-header-cart:hover .dropdown-cart {
    display: block;
}

a.cart-contents {
    color: var(--primary);
}

.product_list_widget li>a {
    color: var(--light);
}

.site-header-cart .widget_shopping_cart,
.site-header-cart .product_list_widget li .quantity {
    color: var(--light);
}

.site-header-cart .widget_shopping_cart {
    background-color: var(--primary);
    padding: 20px
}

.site-header-cart .cart-contents {
    padding: 5px 20px;
    border: 1px solid var(--primary);
}

.woocommerce .widget_shopping_cart .total,
.woocommerce.widget_shopping_cart .total {
    margin-top: 10px;
    border-top: 1px solid var(--light);
}

.wishlist-toggle {
    display: block;
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 5;
    width: 24px;
    height: 24px;
    outline: none;
    border: none;
}

.wishlist-toggle .fa-heart {
    color: var(--pink);
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
